[submodule "contrib/bindletools"]
	path = contrib/bindletools
	url = git://github.com/bindle/bindletools.git
[submodule "contrib/carrdm"]
	path = contrib/carrdm
	url = git://github.com/bindle/carrdm.git
